<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.apple.itunes.ipa</string>
				<string>com.apple.xcode.archive</string>
				<string>com.apple.application-and-system-extension</string>
				<string>com.apple.mobileprovision</string>
				<string>com.apple.iphone.mobileprovision</string>
				<string>com.apple.provisionprofile</string>
			</array>
		</dict>
	</array>
	<key>UTImportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>com.apple.mobileprovision</string>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>iOS Provisioning Profile (Legacy)</string>
			<key>UTTypeIdentifier</key>
			<string>com.apple.iphone.mobileprovision</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>mobileprovision</string>
				</array>
			</dict>
		</dict>
	</array>
</dict>
</plist>
