<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSExtension</key>
	<dict>
		<key>NSExtensionAttributes</key>
		<dict>
			<key>QLIsDataBasedPreview</key>
			<false/>
			<key>QLSupportedContentTypes</key>
			<array>
				<string>com.apple.mobileprovision</string>
				<string>com.apple.iphone.mobileprovision</string>
				<string>com.apple.provisionprofile</string>
				<string>com.apple.itunes.ipa</string>
				<string>com.apple.xcode.archive</string>
				<string>com.apple.application-and-system-extension</string>
			</array>
			<key>QLSupportsSearchableItems</key>
			<false/>
		</dict>
		<key>NSExtensionPointIdentifier</key>
		<string>com.apple.quicklook.preview</string>
		<key>NSExtensionPrincipalClass</key>
		<string>$(PRODUCT_MODULE_NAME).PreviewViewController</string>
	</dict>
	<key>UTImportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>com.apple.mobileprovision</string>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>iOS Provisioning Profile (Legacy)</string>
			<key>UTTypeIdentifier</key>
			<string>com.apple.iphone.mobileprovision</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>mobileprovision</string>
				</array>
			</dict>
		</dict>
	</array>
</dict>
</plist>
